/*s-gallery--------------------*/

.s-gallery-block{

    &__ttl{
        font-size: 2.0rem;
        margin-bottom: 50px;
        text-align: center;
    }

    &__image{
        max-width: 500px;
        @include auto;
        margin-bottom: 50px;
    }
    
    &__txt, &__link{
        font-size: 1.6rem;
        line-height: 1.5;
        margin-bottom: 50px;
        text-align: center;
    }

    &__link{
       display: block;
       @include auto;
       width: fit-content;
       font-size: 2.0rem;
       margin-bottom: 100px;
       word-break: break-all;
    }

    &__group{
        margin-top: 50px;
        display: flex;
        justify-content: center;

        @include mq(medium,max){
            flex-direction: column;
            align-items: center;
        }
    }

    &__btn a{
        border: 1px solid $maincolor;
        padding: 15px 20px;
        margin: 0 30px;
        transition: all 0.5s;
        display: inline-block;

        &:hover{
            color: $white1;
            background-color: $maincolor;
        }
    }

    

    &__btn:not(:last-child){

        @include mq(medium,max){
            margin-bottom: 25px;
        }

    }

}





/*s-gallery--------------------*/