/*scroll--------------------*/


// トップスクロール

#topscroll{
	position: fixed;
	bottom:40px;
	right: 10px;
	border:2px solid #7FBE28;
	border-radius: 10px;
	width: 70px;
	height: 70px;
	background-color: #ffffff;
	padding:10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	
	.fa-caret-up{
		color: #7FBE28;
		font-size: 2.0rem;
	}
	
	p{
		font-size: 1.4rem;
		color: #7FBE28;
	}
}





/*scroll--------------------*/