/*footer--------------------*/

.l-footer{
    margin-top: 150px;
    margin-bottom: 100px;

    &__copy{
      font-size: 3.0rem;
      text-align: center;
      font-family: 'Fuggles', cursive;
    }
}





/*footer--------------------*/